*{
    padding: 0;
    margin:5px;
}
#wrap{
    text-align: center;
}
#head{
    width: 99.1%;
    height: 103px;
    padding-top: 97px;
    text-align: center;
    float: left;
    clear: left;
    background: black;
    color: #FFFFFF;
}
.content{
    height: 200px;
}
.main{
    width: 70%;
    height: 103px;
    padding-top: 97px;
    text-align: center;
    float: left;
    background: black;
    color: #FFFFFF;
}
.side-bar{
    width: 28.6%;
    height: 103px;
    padding-top: 97px;
    text-align: center;
    float: left;
    background: black;
    color: #FFFFFF;
}
#footer{
    width: 99.1%;
    height: 103px;
    padding-top: 97px;
    text-align: center;
    float: left;
    clear: left;
    background: black;
    color: #FFFFFF;
}

